

.todo-table {
max-width: 440px;
margin-top: 20px;
}




.todo-row.header {
font-weight: bold;
border-bottom: 2px solid #000;
}
.todo-row {
font-size: 15px;
}


.todo-row .done {
text-decoration: line-through;
opacity: 0.6;
}