.header-header {
  display: flex;
  align-items: center;
   justify-content: space-around;
   border-bottom: 1px solid rgb(173, 125, 125);
}
.header-auth {
  display: flex;
}
.header-auth p {
  margin: 0;
  align-items: center;
  display: flex;
  margin-right: 10px;
}
