.todo-row {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
  gap: 25px;

  padding: 10px 12px;
  border-bottom: 1px solid #eee;

}
.btn {
    position: relative;
}

