.todo-row {
  display: grid;
  grid-template-columns: 50px 1fr 70px 70px ;
  align-items: center;
  gap: 5px;

  padding: 10px 12px;
  border-bottom: 1px solid #eee;

}

.btn {
    position: relative;
}
.importance {
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  color: white; /* цвет текста по умолчанию */
}

.todo-row.low {
  background-color: green;
}

.todo-row.medium {
  background-color: orange;
}

.todo-row.high {
  background-color: red;
}

.todo-delete {
  color: red;
padding: 0;
  margin: 0px 40%;
  width: 20px;
  display: flex;
  justify-content: center;
}