.dashboard {
  max-width: 460px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.dashboard h2 {
  color: #e0a1a1;
  margin-top: 30px;
}

.dashboard p {
  color: #bbb3b3;
  margin-bottom: 20px;
}

.dashbord-nav {
  display: flex;
  justify-content: space-around;

  margin-bottom: 20;
}

/* Базовый стиль ссылок */
.nav-link {
  text-decoration: none;
  color: #d4a5a5;
  font-weight: 500;
}

/* Активная вкладка – подчеркнута */
.nav-link.active {
  text-decoration: underline;
  color: #007bff; /* можно изменить под свою схему цветов */
}

/* При желании добавить плавность */
.nav-link {
  transition:
    color 0.2s,
    text-decoration 0.2s;
}
