.dashboard {
  max-width: 460px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.dashboard h2 {
  color: #e0a1a1;
  margin-top: 30px;
}

.dashboard p {
  color: #bbb3b3;
  margin-bottom: 20px;
}


